service:
  grpc_address: ":50051"
  http_address: ":8081"
  swagger_address: ":8082"
  timeout: 2s

db:
  read_host: db
  write_host: db
  port: 5432
  name: pvz
  sslmode: disable
  pool:
    max_open: 10
    max_size: 5
  migrations_dir: migrations