service:
  grpc_address: ":50051"
  http_address: ":8081"
  swagger_address: ":8082"
  admin_address: ":6060"
  timeout: 2s
  worker_limit: 16
  queue_size: 512

db:
  read_host: db
  write_host: db
  port: 5432
  name: pvz
  sslmode: disable
  pool:
    max_open: 20
    max_idle: 10
  migrations_dir: migrations

kafka:
  brokers:
    - kafka:29092
  topic: pvz.events-log
  producer:
    timeout: 10s
    retries: 3

outbox:
  worker_interval: 5s
  batch_size: 100